<section class="contact-s2 container-fluid d-flex align-items-center bg-light py-5 minh-25vh">
    <div class="row mx-0 w-100">
        <div class="col-12 col-md-6 minh-25vh d-none d-md-block"></div>
        <div class="col-12 col-md-6 d-flex align-items-center">
            <div class="text-center text-md-start p-5 text-shadow">
                <h3 class="text-uppercase fw-bold mb-3 text-secondary">
                    Visit us
                </h3>
                <p class="text-secondary">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat.
                </p>
                <address class="text-secondary ps-3">
                    Abcdfg Street 12,<br/>
                    00-000 City,<br/>
                    +(00) 987 654 124<br/>
                    email&#64;email.com
                </address>
            </div>
        </div>
    </div>
</section>