$prefix: "../../../assets/img/";
$bg__about-img: 
    $prefix+"about/about-s1.jpg",
    $prefix+"about/about-s2.jpg",
    $prefix+"about/about-s3.jpg",
    $prefix+"about/about-s4.jpg";
$bg__coming-img: $prefix+"comingsoon.jpg"; 
$bg__contact-img: 
    $prefix+"contact/contact-s1.jpg",
    $prefix+"contact/contact-s2.jpg",
    $prefix+"contact/contact-s3.jpg";
$bg__error-img: $prefix+"error.jpg"; 
$bg__index-img: $prefix+"index/index-s1.jpg";
$bg__privacy-img: $prefix+"privacy.jpg";
$bg__treks-img: 
    $prefix+"treks/treks-s1.jpg",
    $prefix+"treks/treks-s2.jpg",
    "",
    $prefix+"treks/treks-s4.jpg";
$section__classes:
    "about",
    "comingsoon",
    "contact",
    "error",
    "index",
    "privacy",
    "treks";
$section__images:
    $bg__about-img,
    $bg__coming-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__privacy-img,
    $bg__treks-img;
$color__shadow: #333;
$footer__height: 41px;
$text-shadow: 1px 1px 3px $color__shadow; 